In [13]:
import math

## Functions

In [1]:
def performOperation(num1, num2, operation):
    if operation == 'sum':
        return num1 + num2
    if operation == 'multiply':
        return num1 * num2
    
performOperation(2, 3, 'sum')

5

In [1]:
mylist = [5, 4, 6, 2, 3, 1]


sorted(mylist)


1 + 2 + 3 + 4 = (4)
1 + 2 + 3 + 4 + 5  (5)



1
1 + 2

[1, 2, 3, 4, 5, 6]

In [8]:
mydict = {'a':3, 'b':1, 'c':5, 'd': 6}

mydict = {key:value for key, value in sorted(mydict.items(), key=lambda x : x[1], reverse=True)}
mydict

{'d': 6, 'c': 5, 'a': 3, 'b': 1}

### Named Parameters

In [2]:
def performOperation(num1, num2, operation='sum'):
    if operation == 'sum':
        return num1 + num2
    if operation == 'multiply':
        return num1 * num2
    
performOperation(2, 3)

5

In [7]:
def performOperation(num1, num2, operation='sum', message='Default message'):
    print(message)
    if operation == 'sum':
        return num1 + num2
    if operation == 'multiply':
        return num1 * num2
    
performOperation(2, 3, message='A new message!', operation='multiply')

A new message!

6

### *args

In [9]:
def performOperation(*args):
    print(args)
    
performOperation(1,2,3)

(1, 2, 3)

In [10]:
performOperation(1,2,3, operation='sum')

TypeError: performOperation() got an unexpected keyword argument 'operation'

### **kwargs

In [12]:
def performOperation(*args, **kwargs):
    print(args)
    print(kwargs)
performOperation(1,2,3, operation='sum')

(1, 2, 3)
{'operation': 'sum'}

In [16]:
def performOperation(*args, operation='sum'):
    if operation == 'sum':
        return sum(args)
    if operation == 'multiply':
        return math.prod(args)
    
performOperation(1,2,3,6, 7, 8, operation='sum')

27

In [9]:
def triangle(num):
    if num == 1:
        return num
    return num + triangle(num - 1)

def square(num):
    return triangle(num) + triangle(num - 1)

In [28]:
class Dog:
    num_of_legs = 4
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def speak(self):
        return f'{self.name} is {self.age} years old and is barking'

    def __repr__(self):
        return f'Dog({self.name}, {self.age})'

In [29]:
dog1 = Dog('Bingo', 10)

In [31]:
id(dog1)

1932179544192

In [32]:
dog2 = Dog('Hummy', 10)

In [33]:
id(dog2)

1932172327008

In [34]:
dog2.age

10

In [35]:
dog1.speak()

'Bingo is 10 years old and is barking'

In [30]:
print(dog1)

Dog(Bingo, 10)

In [ ]:
my = [2, 3]